.block h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.block h2 hr {
    height: 5px;
    width: 3em;
    opacity: 1;
    color: var(--primary-color);
}

.block h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-block: 1em;
    color: var(--primary-color);
}
